[submodule "hnn-nginx"]
	path = hnn-nginx
	url = https://github.com/jimmg35/hnn-nginx.git
[submodule "hnn-frontend-next"]
	path = hnn-frontend-next
	url = https://github.com/jimmg35/hnn-frontend-next.git
[submodule "hnn-training-pytorch"]
	path = hnn-training-pytorch
	url = https://github.com/jimmg35/hnn-training-pytorch.git
