[submodule "hnn-nginx"]
	path = hnn-nginx
	url = https://github.com/jimmg35/hnn-nginx.git
[submodule "hnn-frontend-next"]
	path = hnn-frontend-next
	url = https://github.com/jimmg35/hnn-frontend-next.git
[submodule "hnn-training-pytorch"]
	path = hnn-training-pytorch
	url = https://github.com/jimmg35/hnn-training-pytorch.git
[submodule "hnn-deploy-compose"]
	path = hnn-deploy-compose
	url = https://github.com/jimmg35/hnn-deploy-compose.git
[submodule "hnn-backend-express"]
	path = hnn-backend-express
	url = https://github.com/jimmg35/hnn-backend-express.git
